<section>
    <div class="Main0">
        <div class="InfoP">
            <h1>Ihor Danylov</h1>
            <h2>Front-End Developer</h2>
            <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor
                mattis ut vitae feugiat augue.</p>
        </div>

        <div class="InfoImg"><img src="./image/abb.jpg" height="100%" width="100%"/></div>

    </div>

    <div class="Main1">
        <input class="M1btn" id="Uname" type="text" placeholder="your Name">
        <input class="M1btn" id="Upass" type="password" placeholder="your password">
        <input class="M1btn" id="Umail" type="email" placeholder="your email">
        <input class="M1btn" id="Utel" type="text" placeholder="your tel">
        <button href="#" class="M1btn" type="submit" id="UGo">GO</button>
    </div>

    <div class="Main2">

        <div class="M2d" id="M20">

            <img src="./image/1.jpg" width="100%" height="100%">
            <p>hello item</p>
        </div>
        <div class="M2d" id="M21">

            <img src="./image/2.jpg" width="100%" height="100%">
            <p>hello item</p>
        </div>
        <div class="M2d" id="M22">

            <img src="./image/3.jpg" width="100%" height="100%">
            <p>hello item</p>
        </div>
        <div class="M2d" id="M23">

            <img src="./image/4.jpg" width="100%" height="100%">
            <p>hello item</p>
        </div>
        <div class="M2d" id="M24">

            <img src="./image/5.png" width="100%" height="100%">
            <p>hello item</p>
        </div>
        <div class="M2d" id="M25">

            <img src="./image/6.png" width="100%" height="100%">
            <p>hello item</p>
        </div>
        <div class="M2d" id="M26">

            <img src="./image/7.jpg" width="100%" height="100%">
            <p>hello item</p>
        </div>
        <div class="M2d" id="M27">

            <img src="./image/8.jpg" width="100%" height="100%">
            <p>hello item</p>
        </div>

    </div>

    <div class="Main3">
        <div class="M3d card">
            <img src="./image/1.jpg" width=100%" height="100%">
            <div>
                <h2>Blog Info</h2>
                <p>A blog is a discussion or informational website published on the World Wide Web consisting of discrete</p>
            </div>
        </div>
        <div class="M3d card">
            <img src="./image/5.png" width="100%" height="100%">
            <div>
                <h2>Blog Info</h2>
                <p>A blog is a discussion or informational website published on the World Wide Web consisting of discrete</p>
            </div>
        </div>
        <div class="M3d card">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NVb5GV6lntU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div>
                <h2>Video Info</h2>
                <p>A blog is a discussion or informational website published on the World Wide Web consisting of discrete</p>
            </div>
        </div>
        <div class="M3d card">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81285.91972923538!2d30.57420728863755!3d50.45627977662548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4dab277ee63fb%3A0xf8367da5c8a88946!2z0JTQvdGW0L_RgNC-0LLRgdGM0LrQuNC5INGA0LDQudC-0L0sINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1544648015928" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
            <div>
                <h2>Map Info</h2>
                <p>A blog is a discussion or informational website published on the World Wide Web consisting of discrete</p>
            </div>
        </div>
        <div class="M3d card">
            <img src="./image/6.png" width="100%" height="100%">
            <div>
                <h2>Blog Info</h2>
                <p>A blog is a discussion or informational website published on the World Wide Web consisting of discrete</p>
            </div>
        </div>

        <div class="M3d card">
            <img src="./image/5.png" width="100%" height="100%">
            <div>
                <h2>Blog Info</h2>
                <p>A blog is a discussion or informational website published on the World Wide Web consisting of discrete</p>
            </div>
        </div>
    </div>

    <div class="Main4"><button id="Blog"><a href="#" style="color: white">VIEW BLOG</a></button></div>
</section>
